<html>
<body>
<div class='task-edit-main'>
  <div class='task-edit-up'>
    <div class ='task-detail'>
      <h1>タスクの詳細です！</h1>
      <table border="1">
      <h3>タスク名: <%=@task.title%></h3>
      <tr><th>タスクの説明</th>
      <th><%=@task.explanation%></th></tr>
      <tr><th>タスクの状態</th>
      <th><%=@task.condition.name%></th></tr>
      <tr><th>タスクの種類</th>
      <th><%=@task.category.name%></th></tr>
      <tr><th>タスクの開始時間</th>
      <th><%=@task.start_time.to_s(:datetime_jp)%></th></tr>
      <tr><th>タスクの終了時間</th>
      <th><%=@task.end_time.to_s(:datetime_jp)%></th></tr>
      <tr><th>タスクの参加者</th>
      <th><%=@task.users.pluck(:first_name).join(", ")%></th></tr>
      </table>
    </div>
  </div>

<% if @task.users.pluck(:id).include?(current_user.id)  %>
  <div class='task-edit-down'>
  <h1>タスク編集画面です！</h1>
    <div class='task-from'>
      <%=form_with model: @task, local: true do |f|%>
      <%= render 'layouts/error_messages', model: f.object %>
        
        <%= f.label :title, :タスク名, class: 'task-form_label'%><br>
        <%= f.text_field :title, class: 'task_title_input', placeholder: 'タスク名を入力してください'%><br>

        <div class="items-explain">
          <div class="weight-bold-text">
            タスクの説明
            <span class="indispensable"></span><br>
          </div>
          <%= f.text_area :explanation, class:"task-text", id:"tasks-info", placeholder:"タスクの詳細"%><br>
        </div>

        <%= f.label :category_id, :タスクの種類, class: 'task-form_label'%><br>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %><br>
        
        <%= f.label :condition_id, :タスクの状態, class: 'task-form_label'%><br>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"genre-select"}) %><br>

        <%= f.label :start_time, :タスクの開始時間, class: 'task-form_label'%><br>
        <%= f.datetime_select :start_time, {use_month_numbers: true,minute_step: 15}, {class: 'time-box'}%><br>

        <%= f.label :end_time, :タスクの終了時間, class: 'task-form_label'%><br>
        <%= f.datetime_select :end_time, {use_month_numbers: true,minute_step: 15}, {class: 'time-box'}%><br>

        <label>タスクの参加者</label><br>
        <%= f.collection_check_boxes :user_ids, User.all, :id, :nickname %><br>

        <%= f.submit class: 'task-from_action'%>
      <% end %>
    </div>
    <h1>タスクの削除リンクです！</h1>
    <div class='task-de'>
      <div class='task-delete'>
        <%= link_to '・タスクを削除する', task_path(@task.id), method: :delete ,class: "link"%>
      </div>
    </div>
  </div>
  <%else%>
  <h3>参加者以外には編集・削除の権限はありません</h3>
  <% end %>
</div>

<div class="comments-main">
  <div class="comments-index">
    <div id="comments">
      <h4>＜コメント一覧＞</h4>
      <% @task.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.nickname %>： </p>
          <p><%= comment.text%></p>
          <% if user_signed_in? && current_user.id == comment.user_id%>
            <%= link_to 'コメントを削除', task_comment_path(@task, comment), confirm: 'Are you sure?', method: :delete, class: "link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="comment-form">
      <% if user_signed_in? %>
        <%= form_with model: [@task, @comment], id: "comment-form" do |f| %>

        <div id="comments-error">
        <%= render 'layouts/error_messages', model: f.object %>
        </div>
        
          <%= f.text_area :text , class: "comment-text"%>
          <%= f.submit "コメントをする", class: "comment-submit" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>